# Copy this file to .env and fill in your values
# Never commit .env to git

SUPABASE_URL=db.sxqefbwnismzixddedkj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4cWVmYnduaXNteml4ZGRlZGtqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4NDg3NTcsImV4cCI6MjA5MzQyNDc1N30.JieCG-FvlXrvbft1d4IA6HBsOQb6XzRj3J90LilVrD4
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4cWVmYnduaXNteml4ZGRlZGtqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzg0ODc1NywiZXhwIjoyMDkzNDI0NzU3fQ.T89bcqtlVy7jUp21bJ54UvXWD-6WB5SN-GWnP0lvwoo
POWERSYNC_URL=https://69f7da3d8d064eb85ee8dc9e.powersync.journeyapps.com
ANTHROPIC_API_KEY=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
